In [139]:
import pandas as pd
import numpy as np

In [141]:
df = pd.read_csv('data/raw/all_games.csv')
df_2 = pd.read_csv('data/raw/video_games_sales 2.csv')

In [143]:
display(df.head(2), df_2.head(2), df.info(), df_2.info(), df.nunique(), df_2.nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18800 entries, 0 to 18799
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          18800 non-null  object
 1   platform      18800 non-null  object
 2   release_date  18800 non-null  object
 3   summary       18686 non-null  object
 4   meta_score    18800 non-null  int64
 5   user_review   18800 non-null  object
dtypes: int64(1), object(5)
memory usage: 881.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          16598 non-null  int64
 1   name          16598 non-null  object
 2   platform      16598 non-null  object
 3   year          16327 non-null  float64
 4   genre         16598 non-null  object
 5   publisher     16540 non-null  object
 6   na_sales      16598 non-null  float64
 7   eu_sales      16598 non-null  float64
 8   jp_sales      16598 non-null  float64
 9   other_sales   16598 non-null  float64
 10  global_sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24

None

None

name            12254
platform           22
release_date     4533
summary         14647
meta_score         80
user_review        94
dtype: int64

rank            16598
name            11493
platform           31
year               39
genre              12
publisher         578
na_sales          409
eu_sales          305
jp_sales          244
other_sales       157
global_sales      623
dtype: int64

In [145]:
# drop columns

def drop_columns_in_table_1(df):
    df = df.drop(columns=['summary'])
    return df

def drop_columns_in_table_2(df_2):
    df = df_2.drop(columns=['rank'])
    return df

In [147]:
updated_df = drop_columns_in_table_1(df)
updated_df_2 = drop_columns_in_table_2(df_2)

display(updated_df, updated_df_2)

,name,platform,release_date,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",98,7.9
...,...,...,...,...,...
18795,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",22,1.3
18796,Drake of the 99 Dragons,Xbox,"November 3, 2003",22,1.7
18797,Afro Samurai 2: Revenge of Kuma Volume One,PlayStation 4,"September 22, 2015",21,2.9
18798,Infestation: Survivor Stories (The War Z),PC,"October 15, 2012",20,1.7
18799,Leisure Suit Larry: Box Office Bust,PC,"March 31, 2009",20,2.0

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [154]:
display(updated_df['platform'].unique())
display(updated_df_2['platform'].unique())

array([' Nintendo 64', ' PlayStation', ' PlayStation 3', ' Dreamcast',
       ' Xbox 360', ' Wii', ' Xbox One', ' PC', ' Switch',
       ' PlayStation 2', ' PlayStation 4', ' GameCube', ' Xbox', ' Wii U',
       ' Game Boy Advance', ' 3DS', ' Xbox Series X', ' DS',
       ' PlayStation Vita', ' PlayStation 5', ' PSP', ' Stadia'],
      dtype=object)

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [184]:
def new_platform_column(updated_df):
    platform_mapping = {'Nintendo 64':'Nintendo 64', 'PlayStation':'PlayStation', 'PlayStation 3':'PlayStation 3', 'Dreamcast':'Dreamcast', 'Xbox 360':'Xbox 360',
                          'Wii':'Wii', 'Xbox One':'Xbox One', 'PC':'PC', 'Switch':'Nintendo Switch', 'PlayStation 2':'PlayStation 2',
                               'PlayStation 4':'PlayStation 4', 'GameCube':'GameCube', 'Xbox':'Xbox', 'Wii U':'Wii U', 'Game Boy Advance':'Game Boy Advance', '3DS':'Nintendo 3DS', 'Xbox Series X':'Xbox Series X', 'DS':'Nintendo DS', 
                                   'PlayStation Vita':'PlayStation Vita', 'PlayStation 5':'PlayStation 5', 'PSP':'PlayStation Portable', 'Stadia':'Google Stadia'}
    updated_df['platform'] = updated_df['platform'].replace(platform_mapping)
    return updated_df

def new_platform_column(updated_df_2):
    platform_mapping = {'Wii':'Wii', 'NES':'Nintendo NES', 'GB':'Gameboy', 'DS':'Nintendo DS', 'X360':'Xbox 360',
                          'PS3':'PlayStation 3', 'PS2':'PlayStation 2', 'GBA':'Gameboy Advance', 'SNES':'Nintendo Super NES', '3DS':'Nintendo 3DS',
                               'PS4':'PlayStation 4', 'N64':'Nintendo 64', 'PS':'PlayStation', 'XB':'Xbox', 'PC':'PC', '2600':'2600', 'PSP':'PlayStation Portable', 'XOne':'Xbox One', 'GC':'Game Cube', 'WiiU':'Wii U', 'GEN':'GEN',
                                   'DC':'Dreamcast', 'PSV':'PlayStation Vita', 'SAT':'Saturn', 'SCD':'SEGA CD', 'WS':'WonderSwan', 'NG':'Neo Geo', 'TG16':'TurboGrafx-16', '3DO':'3DO Interactive Multiplayer', 'GG':'SEGA Game Gear', 'PCFX':'PC-FX'}
    updated_df_2['platform'] = updated_df_2['platform'].replace(platform_mapping)
    return updated_df_2

In [188]:
display(new_platform_column(updated_df))

,name,platform,release_date,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",98,7.9
...,...,...,...,...,...
18795,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",22,1.3
18796,Drake of the 99 Dragons,Xbox,"November 3, 2003",22,1.7
18797,Afro Samurai 2: Revenge of Kuma Volume One,PlayStation 4,"September 22, 2015",21,2.9
18798,Infestation: Survivor Stories (The War Z),PC,"October 15, 2012",20,1.7
18799,Leisure Suit Larry: Box Office Bust,PC,"March 31, 2009",20,2.0

In [190]:
display(new_platform_column(updated_df_2))

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,Nintendo NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,Gameboy,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,Gameboy Advance,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,Game Cube,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PlayStation 2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,Nintendo DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,Gameboy Advance,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [198]:
# to check for NaN
updated_df_2.isna().sum()

name              0
platform          0
year            271
genre             0
publisher        58
na_sales          0
eu_sales          0
jp_sales          0
other_sales       0
global_sales      0
dtype: int64

In [200]:
updated_df.isna().sum()

name            0
platform        0
release_date    0
meta_score      0
user_review     0
dtype: int64

In [230]:
dropped_na_tb_2_df = updated_df_2.dropna(subset=['year', 'jp_sales', 'eu_sales', 'other_sales', 'global_sales'])
display(dropped_na_tb_2_df)
# TO CHECK THIS AND WHY 0.0 STILL APPEAR

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,Nintendo NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,Gameboy,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,Gameboy Advance,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,Game Cube,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PlayStation 2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,Nintendo DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,Gameboy Advance,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [236]:
dropped_na_tb_2_df['year'].unique()

array([2006., 1985., 2008., 2009., 1996., 1989., 1984., 2005., 1999.,
       2007., 2010., 2013., 2004., 1990., 1988., 2002., 2001., 2011.,
       1998., 2015., 2012., 2014., 1992., 1997., 1993., 1994., 1982.,
       2003., 1986., 2000., 1995., 2016., 1991., 1981., 1987., 1980.,
       1983., 2020., 2017.])

In [240]:
dropped_na_tb_2_df['year'] = dropped_na_tb_2_df['year'].astype(int)

/var/folders/1p/3nvyb0qn4zbfkzm72nmsffqh0000gn/T/ipykernel_80672/773501899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped_na_tb_2_df['year'] = dropped_na_tb_2_df['year'].astype(int)

In [242]:
display(dropped_na_tb_2_df)

,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,Nintendo NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,Gameboy,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,Gameboy Advance,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,Game Cube,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PlayStation 2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,Nintendo DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,Gameboy Advance,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [256]:
concat_df = pd.concat([updated_df,dropped_na_tb_2_df], axis=1)
display(concat_df)

,name,platform,release_date,meta_score,user_review,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99,9.1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98,7.4,Super Mario Bros.,Nintendo NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98,7.7,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,SoulCalibur,Dreamcast,"September 8, 1999",98,8.4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",98,7.9,Pokemon Red/Pokemon Blue,Gameboy,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18795,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",22,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18796,Drake of the 99 Dragons,Xbox,"November 3, 2003",22,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18797,Afro Samurai 2: Revenge of Kuma Volume One,PlayStation 4,"September 22, 2015",21,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18798,Infestation: Survivor Stories (The War Z),PC,"October 15, 2012",20,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18799,Leisure Suit Larry: Box Office Bust,PC,"March 31, 2009",20,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [252]:
concat_df.duplicated(subset=['name'])

0        False
1        False
2        False
3        False
4         True
         ...
16593    False
16594     True
16595     True
16596    False
16597     True
Length: 35127, dtype: bool

In [254]:
concat_without_dup_df = concat_df.drop_duplicates(keep='first')
display(concat_without_dup_df)

,name,platform,release_date,meta_score,user_review,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998",99.0,9.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",98.0,7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",98.0,7.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SoulCalibur,Dreamcast,"September 8, 1999",98.0,8.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",98.0,7.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,Gameboy Advance,NaN,NaN,NaN,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01
16594,Men in Black II: Alien Escape,Game Cube,NaN,NaN,NaN,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01
16595,SCORE International Baja 1000: The Official Game,PlayStation 2,NaN,NaN,NaN,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
16596,Know How 2,Nintendo DS,NaN,NaN,NaN,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,Spirits & Spells,Gameboy Advance,NaN,NaN,NaN,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01